ale_py==0.7.4
carla_birdeye_view==1.1.1
cv_bridge==1.16.2
cv_bridge==1.16.0
gym==0.17.0
gymnasium==0.28.1
gymnasium==0.27.0
keras==2.11.0
markdownTable==6.0.0
matplotlib==3.3.2
matplotlib==3.1.2
networkx==2.5.1
numpy==1.22.0
numpy==1.17.4
opencv_python==4.2.0.32
opencv_python==4.2.0.34
opencv_python_headless==4.7.0.68
optuna==3.1.0
pandas==1.5.3
Pillow==8.3.1
Pillow==9.3.0
Pillow==7.0.0
Pillow==10.1.0
py3rosmsgs==1.18.2
py_markdown_table==0.3.3
pydantic==1.9.1
pydantic==1.10.2
pygame==2.4.0
pygame==2.1.2
Pygments==2.14.0
Pygments==2.2.0
Pygments==2.12.0
Pygments==2.3.1
PyYAML==6.0
PyYAML==5.4
PyYAML==6.0.1
reloading==1.1.2
rosbag==1.16.0
rosbag==1.15.14
rosgraph==1.16.0
rosgraph==1.15.14
rosnode==1.16.0
rosnode==1.15.14
rospy==1.16.0
scikit_learn==1.1.2
scikit_learn==1.1.1
scipy==1.6.1
scipy==1.4.1
sensor_msgs==1.13.1
six==1.14.0
statsmodels==0.13.2
tabulate==0.9.0
tensorboardX==2.6
tensorboardX==2.6.2.2
tensorflow==2.9.1
tensorflow_gpu==2.11.0
tf==1.13.2
torch==1.11.0+cu113
torch==1.11.0
tqdm==4.64.0
